@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --font-space-mono: "Space Mono", monospace;
    --font-weight: 700;
    --font-size: 24px;
    --color-strong-cyan: hsl(172, 67%, 45%);
    --color-very-dark-cyan: hsl(183, 100%, 15%);
    --color-dark-grayish-cyan: hsl(186, 14%, 43%);
    --color-grayish-cyan: hsl(184, 14%, 56%);
    --color-light-grayish-cyan: hsl(185, 41%, 84%);
    --color-very-light-grayish-cyan: hsl(189, 41%, 97%);
    --color-white: hsl(0, 0%, 100%);
}

h1 {
    font-family: cursive;
    color: salmon;
    background-color: antiquewhite;
}