@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --font-family: 'Libre Franklin', sans-serif;
    --font-size: 20px;
    --font-weight-light: 300;
    --font-weight-bold: 600;
    --font-weight-bolder: 700;
    --icon-facebook: url("./images/icon-facebook.svg");
    --icon-twitter: url("./images/icon-twitter.svg");
    --icon-instagram: url("./images/icon-instagram.svg");
    --color-blue: hsl(223, 87%, 63%);
    --color-pale-blue: hsl(223, 100%, 88%);
    --color-light-red: hsl(354, 100%, 66%);
    --color-gray: hsl(0, 0%, 59%);
    --color-very-dark-blue: hsl(209, 33%, 12%);

    --footer-height: 150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    background: none;
    color: inherit;
    font: inherit;
    outline: none;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

html {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding-bottom: var(--footer-height);
}

/* CONTAINER(S) */



/* SHARED STYLES */
.hidden {
    display: none;
}

/* MAIN STYLES */
.container {
    width: 930px;
}

/* MAIN STYLES - CTA */


/* MAIN STYLES - SIGNUP */


/* MAIN STYLES - DASHBOARD */

.dashboard img {
    width: 400px;
    height: 250px;
}

/* FOOTER STYLES */

footer {
    width: 100%;
    height: var(--footer-height);
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--color-gray);
}
.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(var(--font-size) * 0.5)
}
footer img[src$=svg] {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(211, 211, 211, 0.5);
    color: var(--color-pale-blue);
    border-radius: 50%;
    padding: 8px;
}
.copyright {
    font-size: calc(var(--font-size) * 0.75);
}


/* MEDIA QUERIES */

/* -- larger desktops */
@media only screen and (max-width: 1440px) {
    body::before {
        content: "-- LARGER DESKTOPS --";
        text-shadow: rgba(211,211,211,0.2);
        height: 40px;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
        /* display: none; */
    }
}

/* -- smaller desktops */
@media only screen and (max-width: 992px) {
    body::before {
        content: "-- SMALLER DESKTOPS --";
        /* display: none; */
    }
}
/* -- most tablets */
@media only screen and (max-width: 768px) {
    body::before {
        content: "-- MOST TABLETS --";
        /* display: none; */
    }
}
/* -- smaller phones */
@media only screen and (max-width: 375px) {
    body::before {
        content: "-- SMALLER PHONES --";
        /* display: none; */
    }
}

/* ------------- FOR DEBUGGING --------------- */

/* html {
    border: 5px solid rgba(255, 0, 0, 1);
} */
body {
    border: 5px solid rgba(255, 165, 0, 1);
}
main {
    border: 8px solid rgba(255, 255, 0, 1);
}
/* .cta {
    border: 5px solid rgba(0, 128, 0, 1);
}
.signup {
    border: 5px solid rgba(0, 0, 255, 1);
}
.dashboard {
    border: 5px solid rgba(75, 0, 130, 1);
} */
footer {
    border: 8px solid rgba(238, 130, 238, 1);
}