@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
    --font-family: 'Libre Franklin', sans-serif;
    --font-size: 20px;
    --font-weight-light: 300;
    --font-weight-bold: 600;
    --font-weight-bolder: 700;
    --icon-facebook: url("./images/icon-facebook.svg");
    --icon-twitter: url("./images/icon-twitter.svg");
    --icon-instagram: url("./images/icon-instagram.svg");
    --color-blue: hsl(223, 87%, 63%);
    --color-pale-blue: hsl(223, 100%, 88%);
    --color-light-red: hsl(354, 100%, 66%);
    --color-gray: hsl(0, 0%, 59%);
    --color-very-dark-blue: hsl(209, 33%, 12%);

}


/* CONTAINER(S) */


/* SHARED STYLES */
.hidden {
    display: none;
}


/* MAIN STYLES */


/* MAIN STYLES - CTA */


/* MAIN STYLES - SIGNUP */


/* MAIN STYLES - DASHBOARD */

.dashboard img {
    width: 400px;
    height: 250px;
}

/* FOOTER STYLES */
footer img[src$=svg] {
    width: 25px;
    height: 25px;
}



/* MEDIA QUERIES */