@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --font-family-overpass: "Overpass", sans-serif;
    --font-weight-overpass-300: 300;
    --font-weight-overpass-600: 600;
    --font-family-ubuntu: "Ubuntu", sans-serif;
    --font-weight-ubuntu-400: 400;
    --font-weight-ubuntu-500: 500;
    --font-weight-ubuntu-700: 700;
    --font-size: 16px;

    --color-primary-light-red-cta-text: hsl(356, 100%, 66%);
    --color-primary-very-light-red-cta-hover-bg: hsl(355, 100%, 74%);
    --color-primary-very-dark-blue-headings: hsl(208, 49%, 24%);
    --color-white-text: hsl(0, 0%, 100%);

    --color-neutral-grayish-blue-footer-text: hsl(240, 2%, 79%);
    --color-neutral-very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --color-neutral-very-dark-black-blue-footer-bg: hsl(240, 10%, 16%);

    --color-gradient-intro-cta-mobile-nav-very-light-red: hsl(13, 100%, 72%);
    --color-gradient-intro-cta-mobile-nav-light-red: hsl(353, 100%, 62%);
    --color-gradient-body-very-dark-gray-blue: hsl(237, 17%, 21%);
    --color-gradient-very-dark-desaturated-blue: hsl(237, 23%, 32%);

    --designed-desktop-width: 1440px;
    --designed-mobile-width: 375px;
    --minimum-supported-width: 320px;
}

/* ---------------------------------------- */
/*                 COMMON                   */
/* ---------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
    font-size: var(--font-size);
    font-family: var(--font-family-ubuntu);
    font-weight: var(--font-weight-ubuntu-400);
}

p {
    font-family: var(--font-family-overpass);
    font-weight: var(--font-weight-overpass-300);
}

ul {
    list-style: none;
}

.hidden {
    visibility: hidden;
}

.offline {
    display: none !important;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    overflow-x: hidden;
    box-shadow: 0 4px 12px rgba(211,211,211,0.8);
}

/* ---------------------------------------- */
/*                 HEADER                   */
/* ---------------------------------------- */

header {
    height: 400px;
    color: var(--color-white-text);
    background-image: url('./images/bg-pattern-intro-desktop.svg');
    background-size: 150%;
    background-position: center;
    border-bottom-left-radius: 75px;
    background-color: salmon;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 65px 0 65px;
    height: 95px;
}

nav .logo-container {
    margin-right: 25px;
}

nav .links-container {
    display: flex;
    gap: 15px;
}

nav .buttons-container {
    margin-left: auto;
    display: flex;
    gap: 25px;
}

.buttons-container button {
    background: transparent;
    padding: 10px 24px;
    border-radius: 18px;
    color: var(--color-white-text);
    transition: all 0.5s ease;
}

header .buttons-container button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

header .buttons-container button:active {
    background-color: var(--color-white-text);
    color: var(--color-primary-light-red-cta-text);
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 305px;
    gap: 15px;

}

.header-content h1 {
    font-size: calc(var(--font-size) * 2.5);
}

.header-content h2 {
}

.header-content .buttons-container {
    text-align: center;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px 18px;
    /* border: 10px solid blue; */
}

.header-content .buttons-container button {
    /* border: 2px solid yellow; */
    padding: 18px 28px;
}

/* Dropdown Related */
.dropdown {
    position: relative;
}

.dropdown button {
    background: none;
    padding: 5px;
    color: var(--color-white-text);
}

.dropdown button:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    padding: 20px;
    left: -20px;
    background-color: var(--color-white-text);
    color: var(--color-primary-very-dark-blue-headings);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 2px;
}

.dropdown-content a {
    padding: 5px;
}

.dropdown-content a:hover {
    font-weight: bold;
    cursor: pointer;
}

i {
    margin-left: 8px;
}

/* ---------------------------------------- */
/*               (A) DESIGNED               */
/* ---------------------------------------- */

.designed {
    min-height: 675px;
    padding: 95px;
    position: relative;
    background-color: white;
    z-index: 1;
}

.designed h2 {
    text-align: center;
    font-size: calc(var(--font-size) * 1.5);
}

.designed .content {
    height: 100%;
}

.designed .blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 25px;
    height: 100%;

}

.designed .block {
}

.designed .block h3 {
    font-size: calc(var(--font-size) * 1.2);
    margin: 18px 0;
}

.designed .block p {
    line-height: 1.5rem;
}

.designed::after {
    content: url('./images/illustration-editor-desktop.svg');
    position: absolute;
    transform: scale(65%, 65%);
    top: -100px;
    right: -320px;
    z-index: -1;
}


/* ---------------------------------------- */
/*               (B) INFRA                  */
/* ---------------------------------------- */

.infra {
    min-height: 250px;
    background-color: var(--color-gradient-very-dark-desaturated-blue);
    border-bottom-left-radius: 75px;
    border-top-right-radius: 75px;
    padding: 95px;
    display: flex;
    align-items: center;
    position: relative;
}

.infra::before {
    content: url('./images/illustration-phones.svg');
    position: absolute;
    transform: scale(65%, 65%);
    top: calc(-65%);
    left: -50px;
    z-index: 2;
}

.infra::after {
    content: url('./images/bg-pattern-circles.svg');
    position: absolute;
    transform: scale(65%, 65%);
    top: -500px;
    left: -280px;
    overflow: hidden;
}

.infra .content {
    max-width: 65%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infra h2 {
    font-size: calc(var(--font-size) * 1.5);
    color: var(--color-white-text);
}

.infra p {
    color: var(--color-neutral-grayish-blue-footer-text);
    line-height: 1.5rem;
}

/* ---------------------------------------- */
/*               (C) FEATS                  */
/* ---------------------------------------- */

.features {
    min-height: 675px;
    padding: 95px;
    position: relative;
    background-color: white;
    z-index: 1;
}

.features .blocks {
    height: 100%;
    width: 50%;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    gap: 55px;
    justify-content: center;
}

.features h3 {
    font-size: calc(var(--font-size) * 1.2);
    margin: 18px 0;
    color: var(--color-gradient-very-dark-desaturated-blue);
}

.features p {
    line-height: 1.5rem;
    color: var(--color-neutral-very-dark-grayish-blue-body-copy);
}

.features::before {
    content: url('./images/illustration-laptop-desktop.svg');
    position: absolute;
    transform: scale(65%, 65%);
    top: -50px;
    left: -350px;
    z-index: -1;
}

/* ---------------------------------------- */
/*                 FOOTER                   */
/* ---------------------------------------- */

footer {
    background-color: var(--color-neutral-very-dark-black-blue-footer-bg);
    min-height: 300px;
    border-top-right-radius: 75px;
    display: flex;
    padding: 55px 95px;
}

footer .links-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: var(--color-neutral-grayish-blue-footer-text);
}

footer div:has(+ul) {
    font-weight: bold;
    color: var(--color-white-text);
    padding: 5px 5px 20px 5px;
}

ul[class^="group-"] {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    gap: 5px;
}

ul li {
    padding: 5px 5px;
}

ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul li:active {
    font-weight: bold;
}


/* ---------------------------------------- */
/*              MEDIA QUERIES               */
/* ---------------------------------------- */

@media only screen and (max-width: 1100px) {
    .infra .content {
        max-width: 50%;
    }
}

@media only screen and (max-width: 880px) {
    .container {
        width: 375px;
        position: relative;
        overflow-x: scroll;
    }
    header {
        min-height: 600px;
        background-image: url('./images/bg-pattern-intro-mobile.svg');
        background-size: 350%;
        background-position: 40% 40%;
    }
    .header-content {
        padding: 0 35px;
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

    .header-content h1 {
        margin-top: 80px;
        font-weight: lighter;
        font-size: calc(var(--font-size) * 2.1);
        line-height: calc(var(--font-size) * 2.8);
    }

    .header-content h2 {
        margin: 15px 0;
        font-weight: lighter;
        line-height: 1.5rem;
    }

    .header-content .buttons-container {
        width: 100%;
    }
    .header-content button {
        padding: 12px 12px;
        border-radius: 26px;
        white-space: nowrap;
    }

    .nav {
        margin: 35px 35px 0 35px;
    }
    nav .links-container {
        display: none !important;
    }
    nav .buttons-container {
        display: none !important;
    }

    /* Hamburger */
    .hamburger-btn-container {
        min-height: 200px;
        min-width: 200px;
        position: absolute;
        top: 60px;
        right: -120px;
    }
    #btn-hamburger {
        width: 55px;
        height: 40px;
        padding: 5px;
    }
    #btn-hamburger {
    }
    #btn-hamburger:hover {
        cursor: pointer;
    }

    #btn-hamburger img {
        width: 100%;
        height: 100%;
    }
    .hamburger-menu {
        position: absolute;
        top: 90px;
        left: 0;
        width: 305px;
        min-height: 305px;
        margin: 35px;
        background-color: var(--color-white-text);
        border-radius: 8px;
        box-shadow: 0 5px 28px rgba(191,191,191,0.9);
        z-index: 5;
        padding: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .hamburger-dropdown {
        width: 100%;
        text-align: center;
    }
    .hamburger-dropdown button {
        width: 100%;
        padding: 8px;
        background: none;

    }
    .hamburger-dropdown button:hover,
    .hamburger-dropdown button:active {
        font-weight: bold;
        cursor: pointer;
    }

    .hamburger-dropdown button i {
        color: var(--color-gradient-intro-cta-mobile-nav-very-light-red);
    }

    .hamburger-dropdown-content {
        display: flex;
        flex-direction: column;
        background-color: rgba(211,211,211,0.4);
        padding: 20px;
        gap: 12px;
        border-radius: 8px;
    }
    .hamburger-dropdown-content a {
        text-decoration: none;
        color: inherit;
        padding: 5px;
        color: var(--color-primary-very-dark-blue-headings);
    }
    .hamburger-dropdown-content a:hover,
    .hamburger-dropdown-content a:active {
        text-decoration: underline;
        font-weight: bold;
    }

    .hamburger-dropdown.closed .hamburger-dropdown-content {
        display: none;
    }

    .line {
        width: 100%;
        height: 1px;
        background-color: rgba(211,211,211,0.8);
    }

    .hamburger-menu button.btn-login,
    .hamburger-menu button.btn-signup {
        background: transparent;
        padding: 12px 28px;
        border-radius: 18px;
        transition: all 0.5s ease;
    }

    .hamburger-menu button.btn-login:hover,
    .hamburger-menu button.btn-signup:hover,
    .hamburger-menu button.btn-login:active,
    .hamburger-menu button.btn-signup:active {
        cursor: pointer;
        color: var(--color-white-text);
        background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%))
    }
    /* (A) DESIGNED  */
    .designed {
        /* border: 10px solid green; */
        min-height: 1275px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 25px;
        z-index: 2;
    }
    .designed h2 {
        margin: 65px 0 100px 0;
        font-weight: lighter;
        font-size: calc(var(--font-size) * 1.8);
    }
    .designed .blocks {
        width: 100%;
        text-align: center;
    }
    .designed::after {
        content: url('./images/illustration-editor-mobile.svg');
        position: absolute;
        transform: scale(65%, 65%);
        top: 100px;
        left: -90px;
        z-index: -1;
    }

    .designed .block h3 {
        font-size: calc(var(--font-size) * 1.8);
        font-weight: lighter;
        width: 80%;
        margin: 25px auto;
        padding-bottom: 15px;
    }
    .designed .block p {
        line-height: 1.5rem;
        width: 90%;
        margin: 0 auto;
        color: rgb(170, 167, 167);
    }
    /* (B) INFRA  */
    .infra {
        min-height: 650px;
    }

    .infra::before {
        content: url('./images/illustration-phones.svg');
        position: absolute;
        transform: scale(65%, 65%);
        top: -260px;
        left: -90px;
        z-index: 2;
    }

    .infra::after {
        content: url('./images/bg-pattern-circles.svg');
        position: absolute;
        top: -460px;
        left: -320px;
        transform: scale(55%, 55%);
        overflow: hidden;
        z-index: 1;
    }

    .infra h2 {
        font-weight: lighter;
        font-size: calc(var(--font-size) * 2.5);
    }
    .infra .content {
        min-width: 300px;
        margin-left: -60px;
        text-align: center;
        margin-bottom: -220px;
    }
    /* (C) FEATS */
    .features {
        min-height: 975px;
        padding: 25px;
        margin-bottom: 100px;
    }
    .features .blocks {
        width: 90%;
        text-align: center;
        margin-left: 20px;
        justify-content: flex-end;
    }
    .features::before {
        content: url('./images/illustration-laptop-mobile.svg');
        position: absolute;
        top: 60px;
        left: -60px;
        transform: scale(100%, 100%);
    }
    /*   FOOTER   */
    footer {
        min-height: 900px;
        padding: 75px 25px;
        flex-direction: column;
    }

    footer .logo-container {
        margin: 0 auto;
    }

    footer .links-container {
        flex-direction: column;
        align-items: center;
        margin: 65px 0;
        text-align: center;
    }

    footer .links-container .group-container {
        margin: 25px 0;
    }

}


/* ---------------------------------------- */
/*                  DEBUG                   */
/* ---------------------------------------- */

/* html { border: 5px solid blue; } */
/* body { border: 5px solid salmon; } */
/* .container { border: 5px solid goldenrod; } */
/* header { border: 15px solid darkcyan; } */
/* .designed { border: 5px solid darkmagenta; } */
/* .infra { border: 5px solid slateblue; } */
/* .features { border: 5px solid orangered; } */
/* footer { border: 5px solid slategray; } */