@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --font-rubik: "Rubik", sans-serif;
    --font-size: 18px;
    --font-light: 300;
    --font-normal: 400;
    --font-bold: 500;
    --color-blue-primary: hsl(246, 80%, 60%);
    --color-light-red--work: hsl(15, 100%, 70%);
    --color-soft-blue--play: hsl(195, 74%, 62%);
    --color-light-red--study: hsl(348, 100%, 68%);
    --color-lime-green--exercise: hsl(145, 58%, 55%);
    --color-violet--social: hsl(264, 64%, 52%);
    --color-soft-orange--selfcare: hsl(43, 84%, 65%);
    --color-very-dark-blue--neutral: hsl(226, 43%, 10%);
    --color-dark-blue--neutral: hsl(235, 46%, 20%);
    --color-desaturated-blue--neutral: hsl(235, 45%, 61%);
    --color-pale-blue--neutral: hsl(236, 100%, 87%);

    --card-padding: 25px;
    --content-padding: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    text-decoration: none;
    outline: none;
    font-family: var(--font-rubik);
    font-size: var(--font-size);
    font-weight: var(--font-normal);
}

html {
    width: 100%;
    height: 100%;
    /* border: 2px solid salmon; */
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-very-dark-blue--neutral);

    /* border: 2px solid cyan; */
}

.container {
    min-width: 1000px;
    max-width: 95%;
    height: auto;

    /* border: 2px solid pink; */
}

.cards {
    display: grid;
    grid-template-areas:
    "profile work play study"
    "profile exercise social selfcare";
    gap: var(--card-padding);

    /* border: 5px solid goldenrod; */
}

.card {
    min-height: 230px;
    border-radius: 25px;
    position: relative;
    height: 100%;
    overflow: hidden;
    padding: var(--card-padding);
}

/* Profile Card */

.card.profile {
    grid-area: profile;
    border: 1px solid var(--color-blue-primary);
    background-color: var(--color-dark-blue--neutral);
    z-index: 2;
    color: var(--color-pale-blue--neutral);
}

.card.profile img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 32px;
}

.report {
    font-size: calc(var(--font-size) * 0.8)
}

.report .user {
    display: inline-block;
    margin-top: 15px;
    font-size: calc(var(--font-size) * 2.2);
    color: white;
    font-weight: var(--font-light);
}

.card.profile .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    border-radius: 15px;
    background-color: var(--color-blue-primary);
    z-index: 1;
    padding: var(--card-padding);
}

.profile .links {
    z-index: 100;
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.profile a {
    color: var(--color-desaturated-blue--neutral);
}

.profile a:hover {
    color: var(--color-pale-blue--neutral);
}

.profile a:active {
    font-weight: var(--font-bold);
}

/* NOT Profile Card */

.card:not(.profile) .content {
    position: absolute;
    top: 20%;
    left: 0;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    background-color: var(--color-dark-blue--neutral);
    z-index: 2;
    padding: var(--card-padding);
}

.card:not(.profile):hover {
    cursor: pointer;
}

.card:not(.profile):hover .content {
    filter: brightness(120%);
}

.card:not(.profile) .content h2 {
    color: white;
    display: inline-block;
}

button.ellipses {
    position: absolute;
    top: var(--card-padding);
    right:var(--card-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

button.ellipses:hover {
    cursor: pointer;
}

.card .current {
    display: block;
    font-size: calc(var(--font-size) * 2.5);
    color: white;
    font-weight: var(--font-light);
    padding: 28px 0 5px 0;
}

.card .previous {
    display: block;
    color: var(--color-pale-blue--neutral);
    font-weight: var(--font-light);
    font-size: calc(var(--font-size) * 0.8);
    margin-top: 6px;
}

.card .previous span {
    font-weight: inherit;
    font-size: inherit;
}

/* Work Card */

.card.work {
    grid-area: work;
    background-color: var(--color-light-red--work);
    border: 1px solid var(--color-light-red--work);
}

.card.work::before {
    content: url('./images/icon-work.svg');
    top: -4%;
    right: 4%;
    transform: scale(75%, 75%);
    position: absolute;
    z-index: 1;
}

/* Exercise Card */

.card.exercise {
    grid-area: exercise;
    background-color: var(--color-lime-green--exercise);
    border: 1px solid var(--color-lime-green--exercise);
}

.card.exercise::before {
    content: url('./images/icon-exercise.svg');
    top: -4%;
    right: 4%;
    transform: scale(75%, 75%);
    position: absolute;
    z-index: 1;
}

/* Play Card */

.card.play {
    grid-area: play;
    background-color: var(--color-soft-blue--play);
    border: 1px solid var(--color-soft-blue--play);
}

.card.play::before {
    content: url('./images/icon-play.svg');
    top: -4%;
    right: 4%;
    transform: scale(75%, 75%);
    position: absolute;
    z-index: 1;
}

/* Social Card */

.card.social {
    grid-area: social;
    background-color: var(--color-violet--social);
    border: 1px solid var(--color-violet--social);
}

.card.social::before {
    content: url('./images/icon-social.svg');
    top: -12%;
    right: 4%;
    transform: scale(75%, 75%);
    position: absolute;
    z-index: 1;
}

/* Study Card */

.card.study {
    grid-area: study;
    background-color: var(--color-light-red--study);
    border: 1px solid var(--color-light-red--study);
}

.card.study::before {
    content: url('./images/icon-study.svg');
    top: -4%;
    right: 4%;
    transform: scale(75%, 75%);
    position: absolute;
    z-index: 1;
}

/* Self Care Card */

.card.selfcare {
    grid-area: selfcare;
    background-color: var(--color-soft-orange--selfcare);
    border: 1px solid var(--color-soft-orange--selfcare);
}

.card.selfcare::before {
    content: url('./images/icon-self-care.svg');
    top: -4%;
    right: 4%;
    transform: scale(75%, 75%);
    position: absolute;
    z-index: 1;
}