@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --font-young-serif: "Young Serif", serif;
    --font-outfit: "Outfit", sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --font-weight-bolder: 700;
    --font-size: 16px;

    /* Colors */
    --color-nutmeg: hsl(14, 45%, 36%);
    --color-dark-raspberry: hsl(332, 51%, 32%);
    --color-white: hsl(0, 0%, 100%);
    --color-rose-white: hsl(330, 100%, 98%);
    --color-eggshell: hsl(30, 54%, 90%);
    --color-light-grey: hsl(30, 18%, 87%);
    --color-wenge-brown: hsl(30, 10%, 34%);
    --color-dark-charcoal: hsl(24, 5%, 18%);

    --border-radius: 25px;
}

/* General Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: var(--font-size);
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: var(--color-eggshell);
    padding: 80px 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Menu Styles */

main.menu {
    background: var(--color-white);
    width: 600px;
    min-height: 400px;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 10px hsl(30, 18%, 82%);
}

/* Attribution */

.attribution {
    margin-top: 25px;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    body {
        background-color: blue;
    }
}
