@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;600&display=swap');

:root {
    /* from design files */
    --font-headings: "Poppins", sans-serif;
    --font-body: "Open Sans", sans-serif;
    --color-violet: hsl(257, 40%, 49%);
    --color-soft-magenta: hsl(300, 69%, 71%);

    /* utility */
    --screen-width: 1440px;
    --screen-height: 800px;
    --color-white: #fff;
    --color-black: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    text-decoration: none;
}

html {
    width: var(--screen-width);
    height: var(--screen-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

body {
    width: calc(var(--screen-width) - 160px);
    height: calc(var(--screen-height) - 72px - 40px);
    background-color: var(--color-violet);
    background-image: url("images/bg-desktop.svg");
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
    "logo logo"
    "mockup register"
    "social social";
    box-sizing: border-box;
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: calc(55% - 48px/2) calc(45% - 48/2);
    column-gap: 48px;
}

/* AREA - LOGO */

.logo {
    grid-area: logo;
}

img[src*=logo] {
    width: 200px;
}

/* AREA - MOCKUP */

.mockup {
    grid-area: mockup;
}

.mockup img {
    width: 720px;
    height: 495px;
}

/* AREA - REGISTER */

.register {
    grid-area: register;
}

h1 {
    color: var(--color-white);
    font-family: var(--font-headings);
    font-size: 2.7rem;
    margin: 0 16px 0 12px;
    width: 92%;
}

h1 + p {
    margin: 28px 0 24px 12px;
    width: 92%;
    font-size: 18px;
    font-family: var(--font-body);
    color: var(--color-white);
}

h1 ~ button {
    background: var(--color-white);
    padding: 15px 60px;
    border-radius: 60px;
    color: var(--color-violet);
    box-shadow: 0 4px 10px var(--color-black);
    font-family: var(--font-body);
    font-size: 18px;
    margin: 0 0 0 12px;
    transition: all 0.2s ease;
}

h1 ~ button:hover {
    cursor: pointer;
    background: var(--color-soft-magenta);
    color: var(--color-white);
    box-shadow: 0 4px 20px var(--color-black);
}

h1 ~ button:active {
    transform: translateY(2px);
}

/* AREA - SOCIAL */

.social {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;

}

.social svg {
    width: 32px;
    height: 32px;
    padding: 5px;
    border: 2px solid var(--color-white);
    border-radius: 50%;
    transition: all 0.2s ease;
}

.social svg:hover {
    border: 2px solid var(--color-soft-magenta);
}

.social svg:hover path {
    fill: var(--color-soft-magenta);
}


/* --------------- Media Queries ----------------- */

@media only screen and (width: 1440px) {
    body::before {
        content: "BASE SCREEN SIZE - 1440px";
        font-family: var(--font-headings);
        font-size: 36px;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        padding: 12px;
        color: var(--color-violet);
        display: none;
    }
}

@media only screen and (min-width: 1441px) {
    body::before {
        content: "WIDER THAN 1440px - CENTER ALL";
        font-family: var(--font-headings);
        font-size: 36px;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        padding: 12px;
        color: var(--color-violet);
        display: none;
    }
    html {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 1439px) {
    :root {
        --screen-width: 100%;
        --screen-height: 57%;
    }
    body::before {
        content: "SMALLER THAN 1440px - SCALE DOWN";
        font-family: var(--font-headings);
        font-size: 36px;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        padding: 12px;
        color: var(--color-violet);
        display: none;
    }
    html {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
    }
    .container {
        width: 90%;
        padding: 5%;
        height: unset;
        grid-template-rows: 10% 85% 5%;
        grid-template-columns: 34% 64%;
        gap: 2%;
        box-shadow: 0 5px 10px rgba(211, 211, 211, 0.2);
    }
    .mockup img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --screen-width: 100%;
        --screen-height: 100%;
    }
    body::before {
        content: "UP TO 768px - START STACKING";
        font-size: 18px;
        display: none;
    }
    .container {
        width: 100%;
        height: auto;
        box-shadow: none;
        grid-template-areas:
        "logo"
        "mockup"
        "register"
        "social";
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 8% 35% 50% 12%;
        column-gap: 0;
        row-gap: 22px;
    }
    body {
        padding-top: 22px;
        width: 355px;
    }
    .logo img {
        width: 42%;
    }
    .mockup {
        width: 96%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .register {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1 {
        font-size: 1.6rem;
        text-align: center;
        width: 100%;
    }
    h1 + p {
        font-size: 1rem;
        line-height: 1.5rem;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 24px 18px 24px 18px;
    }
    h1 ~ button {
        padding: 12px 85px;
        font-size: 0.85rem;
        box-shadow: 0 1px 3px var(--color-black);
    }
    .social {
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }
    .social svg {
        width: 28px;
        height: 28px;
        padding: 6px;
        border: 1px solid var(--color-white);
    }
}

@media only screen and (max-width: 374px) {
    body::before {
        content: "BELOW 375 - TOO SMALL, ENFORCE STATIC WIDTH";
        font-size: 18px;
        display: none;
    }
    .container {
        width: 375px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* position: absolute; */
        /* left: 0; */
    }
    .mockup img {
        width: 92%;
    }
}

/*  -------------- FOR DEBUGGING - LAYOUT -----------------  */
/* Breakpoints: https://www.reddit.com/r/css/comments/v9o6gc/what_is_the_industry_standard_breakpoints_css/ */

/* html {
    border: 12px ridge rgba(255, 102, 102, 1);
}
body {
    border: 2px ridge rgba(255, 187, 102, 1);
}
.container {
    border: 12px ridge rgba(255, 255, 102, 1);
} */
/* .logo {
    border: 2px ridge rgba(153, 255, 153, 1);
}
.mockup {
    border: 4px ridge rgba(153, 204, 255, 1);
}
.register {
    border: 4px ridge rgba(153, 153, 255, 1);
}
.social {
    border: 2px ridge rgba(204, 153, 255, 1);
} */

/*  -------------- FOR DEBUGGING - BREAKPOINTS -----------------  */
/* @media only screen and (width: 1440px) {
    body::before {
        display:block;
    }
}
@media only screen and (min-width: 1441px) {
    body::before {
        display:block;
    }
}
@media only screen and (max-width: 1439px) {
    body::before {
        display:block;
    }
}
@media only screen and (max-width: 768px) {
    body::before {
        display: block;
    }
}
@media only screen and (max-width: 374px) {
    body::before {
        display: block;
    }
} */
