@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font-family: "Inter", sans-serif;
    --font-size: 15px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-boldest: 800;
    --color-soft-orange: hsl(35, 77%, 62%);
    --color-soft-red: hsl(5, 85%, 63%);
    --color-off-white: hsl(36, 100%, 99%);
    --color-grayish-blue: hsl(233, 8%, 79%);
    --color-dark-grayish-blue: hsl(236, 13%, 42%);
    --color-very-dark-blue: hsl(240, 100%, 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1100px;
    margin: 25px auto auto auto;
}

.hidden {
    display: none;
}

/* -----------  NAVBAR  ----------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

    /* border: 5px solid blue; */
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    height: 40px;
    align-items: center;
}

.navbar li {
    display: flex;
}

.navbar a {
    color: hsl(233, 8%, 60%);
}

.navbar a:hover {
    color: var(--color-soft-red);
}

.navmenu.mobile {
    position: absolute;
    top: 0;
    right: -230px;
    width: 230px;
    min-height: 100%;
    background: var(--color-off-white);
    z-index: 1;
    padding: 135px 25px 25px 32px;
    transition: all 4s ease; /* TODO works on refresh but not on translateX */

    display: none;
}

.navmenu li {
    margin: 25px 0;
}

.navmenu a {
    font-size: calc(var(--font-size) * 1.5);
    color: var(--color-very-dark-blue);
}

.navmenu a:hover {
    color: var(--color-soft-red);
    cursor: pointer;
}

.hamburger-btn {
    width: 65px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 100;

    /* hide hamburger button to start, trigger on media breakpoint 480px */
    display: none;
}

.hamburger-btn:hover {
    cursor: pointer;
}

.hamburger-btn .bar {
    width: 55px;
    height: 5px;
    background-color: var(--color-very-dark-blue);
}

.animateBar1 {
    animation: flipBar1 1s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 1s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 1s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(25deg) translateY(11px) translateX(5px);
    }
}

@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes flipBar3 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-25deg) translateY(-11px) translateX(5px);
    }
}

/* -----------  MAIN  ----------- */

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 225px 225px 225px;
    grid-template-areas:
    "ga-main ga-main ga-new"
    "ga-main ga-main ga-new"
    "ga-article ga-article ga-article";
    gap: 20px;
}


/* -----------  SECTION | MAIN  ----------- */


section.main {
    grid-area: ga-main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 1fr auto;
    grid-template-areas:
    "ga-image ga-image"
    "ga-title ga-desc";
}

.image-container {
    grid-area: ga-image;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    content: url('./assets/images/image-web-3-desktop.jpg');
}

.title {
    grid-area: ga-title;

    font-size: calc(var(--font-size) * 3.5);
    font-weight: var(--font-weight-boldest);
    display: flex;
    align-items: center;
    padding: 0 20% 0 0;
    line-height: calc(var(--font-size) * 3.8);
}

div.intro {
    grid-area: ga-desc;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 5px 45px 20px;
    color: var(--color-dark-grayish-blue);
}

.intro p {
    line-height: calc(var(--font-size) * 1.4);
}

.intro button {
    text-transform: uppercase;
    color: var(--color-off-white);
    background-color: var(--color-soft-red);
    width: 50%;
    padding: var(--font-size);
    letter-spacing: 1px;
}

.intro button:hover {
    background-color: var(--color-very-dark-blue);
    cursor: pointer;
}


/* -----------  SECTION | NEW  ----------- */

section.new {
    grid-area: ga-new;
    background-color: var(--color-very-dark-blue);
    display: grid;
    grid-template-rows: 16% 84%;
    padding: 20px 28px;
}

section.new h2 {
    color: var(--color-soft-orange);
    font-size: calc(var(--font-size) * 2.5);
    font-weight: var(--font-weight-bold);
    letter-spacing: 1px;
}

section.new .new-articles {
    display: grid;
}

section.new .article {
}

section.new h3 {
    color: var(--color-off-white);
    font-weight: var(--font-weight-bold);
    font-size: calc(var(--font-size) * 1.2);
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}

section.new h3:hover {
    color: var(--color-soft-orange);
    cursor: pointer;
}

section.new p {
    color: var(--color-grayish-blue);
    line-height: calc(var(--font-size) * 1.5);
}

section.new hr {
    border: none;
    height: 1px;
    background-color: var(--color-grayish-blue);
}

/* -----------  SECTION | ARTICLES  ----------- */


section.articles {
    grid-area: ga-article;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 0;
}

section.articles .article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 130px;
    justify-content: space-between;
}

section.articles .article img {
    height: 100%;
    width: 30%;
    margin: 0 20px 0 0;
}

section.articles .article span,
section.articles .article h3,
section.articles .article p {
    width: calc(70% - 20px);
}

section.articles .article span {
    font-size: calc(var(--font-size) * 1.5);
    font-weight: var(--font-weight-bold);
    color: var(--color-grayish-blue);
    width: calc(70% - 20px);
}

section.articles .article h3 {
    font-weight: var(--font-weight-bold);
}

section.articles .article h3:hover {
    color: var(--color-soft-red);
    cursor: pointer;
}

section.articles .article p {
    color: gray;
}

/* -----------  Media Queries  ----------- */

/* Large Desktop and Wide Screens */
@media only screen and (max-width: 1200px) {
    html, body {
        width: 100%;
    }
    .container {
        max-width: 720px;
        padding: 0 0 25px 0;
    }

    main {
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "ga-main ga-main"
        "ga-main ga-main"
        "ga-new ga-new"
        "ga-new ga-new"
        "ga-article ga-article"
    }

    section.new {
        height: 400px;
        margin-bottom: 28px;
    }
}

/* Most Tablets */
@media only screen and (max-width: 768px) {
    .container {
        min-width: 337px;
    }
    .navbar ul {
        display: none;
    }
    .hamburger-btn {
        display: flex;
    }

    .container {
        max-width: 90%;
    }

    .navmenu.mobile.open {
        transform: translateX(-230px);
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
        "ga-main"
        "ga-new"
        "ga-article";
    }

    section.main {
        margin-top: -60px;
        grid-area: ga-main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "ga-image"
        "ga-title"
        "ga-desc";
        gap: 1px;
    }

    .image-container img {
        width: 100%;
        height: 150%;
        object-fit: contain;
        content: url('./assets/images/image-web-3-mobile.jpg');
    }
    .title {
        margin-top: 120px;
        padding: 0;
        font-size: calc(var(--font-size) * 3.2);
    }
    section.articles {
        grid-area: ga-article;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 25px;
    }
    div.intro {
        padding: 10px 0 0 0;
        justify-content: center;
        gap: 25px;
        max-height: 150px;
    }
    section.new {
        padding: 20px 20px;
    }
    section.articles {
        position: relative;
    }
    section.articles::after {
        content: "";
        width: 100%;
        height: 15px;
        position: sticky;
        bottom: 0;
    }
}

/* -----------  For Debugging  ----------- */

/* html { border: 4px solid pink; } */
/* body { border: 4px solid cyan; } */
/* .container { border: 4px solid brown; } */

/* .navbar { border: 4px solid yellow; } */
/* .navbar img { border: 2px solid green; } */
/* .navbar ul { border: 2px  dotted teal; } */
/* .navbar li { border: 2px solid orange; } */
/* .hamburger-btn { border: 1px dotted red; } */

/* main.main { border: 4px solid green; } */
/* section.main { border: 4px solid purple; } */
/* section.new { border: 4px solid beige; } */
/* section.articles { border: 4px solid pink; } */

