@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font-family: "Inter", sans-serif;
    --font-size: 15px;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-boldest: 800;
    --color-soft-orange: hsl(35, 77%, 62%);
    --color-soft-red: hsl(5, 85%, 63%);
    --color-off-white: hsl(36, 100%, 99%);
    --color-grayish-blue: hsl(233, 8%, 79%);
    --color-dark-grayish-blue: hsl(236, 13%, 42%);
    --color-very-dark-blue: hsl(240, 100%, 5%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 95%;
    max-width: 900px;
    margin: 25px auto 10px auto;
}

/* -----------  NAVBAR  ----------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 25px;

    display: none;
}

.navbar a {
    color: var(--color-dark-grayish-blue);
}

.navbar a:hover {
    color: var(--color-soft-red);
}

.hamburger-btn {

    width: 60px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* display: none; */
}

.hamburger-btn:hover {
    cursor: pointer;
}

.hamburger-btn .bar {
    width: 60px;
    height: 5px;
    background-color: var(--color-very-dark-blue);
}

.animateBar1 {
    animation: flipBar1 1s;
    animation-fill-mode: forwards;
}

.animateBar2 {
    animation: fadeBar2 1s;
    animation-fill-mode: forwards;
}

.animateBar3 {
    animation: flipBar3 1s;
    animation-fill-mode: forwards;
}

@keyframes flipBar1 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(45deg) translate(15px, 2px) scaleX(0.5);
    }
}

@keyframes fadeBar2 {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(0);
        opacity: 0;
    }
}

@keyframes flipBar3 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-45deg) translate(15px, -3px)  scaleX(0.5);
    }
}

/* -----------  MAIN  ----------- */



/* -----------  Media Queries  ----------- */


/* Most Tablets */
@media only screen and (max-width: 768px) {

}

/* Most Phones */

@media only screen and (max-width: 480px) {

}

/* -----------  For Debugging  ----------- */

/* html { border: 4px solid pink; } */
/* body { border: 4px solid cyan; } */
/* .container { border: 4px solid brown; } */
/* .navbar { border: 4px solid yellow; } */
/* .main { border: 4px solid green; } */

/* .hamburger-btn { border: 1px dotted red; } */
